# rootbench has its own repo
rootbench

# MacOS Xcode
xcuserdata
project.xcworkspace

# MacOS metadata
.DS_Store

# VS Code
.vs/
.vscode
.build

# CLion
.idea/*
cmake-build*/

# QtCreator
CMakeLists.txt.user
*.autosave

# Eclipse
.settings/*
.cproject
.project
.externalToolBuilders
.pydevproject

# Vim
*.swp

# Other Stuff
tags
*.d
.cache
.gdb_history
compile_commands.json

# Doxygen
documentation/doxygen/*.eps
documentation/doxygen/*.pcm
documentation/doxygen/*.jpg
documentation/doxygen/*.root
documentation/doxygen/*.csv
documentation/doxygen/*.png
documentation/doxygen/*.pdf
documentation/doxygen/*.dot

# Pycache
__pycache__
# SOFIE tutorial outputs
tutorials/machine_learning/*.root
tutorials/machine_learning/*.dat
tutorials/machine_learning/*.hxx
tutorials/machine_learning/*.keras
tutorials/machine_learning/*.pt
tutorials/machine_learning/make_pytorch_model.py
tutorials/machine_learning/dataset/
# Test output files
bindings/pyroot/pythonizations/test/test_*/
bindings/pyroot/pythonizations/test/*.dat
bindings/pyroot/pythonizations/test/*.hxx
bindings/pyroot/pythonizations/test/*.onnx
bindings/pyroot/pythonizations/test/*.pt
*.save
